
.Rproj.user/EF999B31/sources/prop/8159BF82
.Rproj.user/EF999B31/sources/prop/D8A1B3B5
.Rproj.user/EF999B31/sources/prop/EBD80000
.Rproj.user/EF999B31/sources/prop/INDEX
.Rproj.user/EF999B31/sources/s-45F723D/17ACCAEC-contents
.Rproj.user/EF999B31/sources/s-45F723D/1E8D206D-contents
.Rproj.user/EF999B31/sources/s-45F723D/20BEAE5-contents
.Rproj.user/EF999B31/sources/s-45F723D/2487D95A-contents
.Rproj.user/EF999B31/sources/s-45F723D/314A1430-contents
.Rproj.user/EF999B31/sources/s-45F723D/4592C9DF-contents
.Rproj.user/EF999B31/sources/s-45F723D/469613B8-contents
.Rproj.user/EF999B31/sources/s-45F723D/4C434547-contents
.Rproj.user/EF999B31/sources/s-45F723D/5BB9CB19-contents
.Rproj.user/EF999B31/sources/s-45F723D/6E338710-contents
.Rproj.user/EF999B31/sources/s-45F723D/783741C4-contents
.Rproj.user/EF999B31/sources/s-45F723D/7848795
.Rproj.user/EF999B31/sources/s-45F723D/7848795-contents
.Rproj.user/EF999B31/sources/s-45F723D/8FA4BAFB-contents
.Rproj.user/EF999B31/sources/s-45F723D/A7A97F23-contents
.Rproj.user/EF999B31/sources/s-45F723D/BEB1B9BF-contents
.Rproj.user/EF999B31/sources/s-45F723D/C0E6DAEC
.Rproj.user/EF999B31/sources/s-45F723D/C0E6DAEC-contents
.Rproj.user/EF999B31/sources/s-45F723D/C1FC5228-contents
.Rproj.user/EF999B31/sources/s-45F723D/CF00805C-contents
.Rproj.user/EF999B31/sources/s-45F723D/D5E31CCD
.Rproj.user/EF999B31/sources/s-45F723D/D5E31CCD-contents
.Rproj.user/EF999B31/sources/s-45F723D/DEBFF5A8-contents
.Rproj.user/EF999B31/sources/s-45F723D/DF062FEA-contents
.Rproj.user/EF999B31/sources/s-45F723D/DF95337E-contents
.Rproj.user/EF999B31/sources/s-45F723D/F99BB180-contents
.Rproj.user/EF999B31/sources/s-45F723D/lock_file
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
